<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings"
                      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CelesteStudio.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CelesteStudio.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CelesteStudio.Properties.Settings>
            <setting name="RememberLastFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatingHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
        </CelesteStudio.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CelesteStudio.Properties.Settings>
            <setting name="RecentFiles" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </CelesteStudio.Properties.Settings>
    </applicationSettings>
    <connectionStrings>
        <add name="CelesteStudio.Properties.Settings.LastFileName" connectionString="" providerName="System.Data.SqlClient" />
        <add name="CelesteStudio.Properties.Settings.RecentFiles" connectionString="0, 0" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>