on:
  workflow_call:
    inputs:
      id:
        required: true
        type: string
      name:
        required: true
        type: string
      build-cfg:
        required: true
        type: string
      tas-repository:
        required: true
        type: string
      tas-revision:
        required: true
        type: string
      tas-files:
        required: true
        type: string
      required-mods:
        required: false
        type: string
        default: ''

jobs:
  run-sync-check:
    name: ${{ inputs.name }}

    runs-on: ubuntu-latest

    container:
      image: max480/everest:stable

    env:
      CELESTE_INSTALL: '/home/ubuntu/celeste'
      CELESTETAS_REPO_NAME: 'CelesteTAS-EverestInterop'
      TASFILES_REPO_NAME: 'TAS-Files'
      SYNC_CONFIG_PATH: 'sync_config.json'
      SYNC_RESULT_PATH: 'sync_result.json'
      CHECKSUM_PATH: 'last_run_checksum.txt'

    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0
          9.0

    - name: Setup JQ
      uses: dcarbone/install-jq-action@v3

    - name: Restore mods cache
      id: restore-cache
      uses: actions/cache/restore@v4
      with:
        path: |
          Mods/**
          ${{ env.CHECKSUM_PATH }}
        key: SyncCheck-${{ inputs.id }}
    - name: Move cache
      if: steps.restore-cache.outputs.cache-hit == 'true'
      run: |
        rm -rf ${{ env.CELESTE_INSTALL }}/Mods
        mv Mods ${{ env.CELESTE_INSTALL }}/Mods
        mv ${{ env.CHECKSUM_PATH }} ${{ env.CELESTE_INSTALL }}/${{ env.CHECKSUM_PATH }}
    - name: Create blank checksum
      if: steps.restore-cache.outputs.cache-hit != 'true'
      run: touch ${{ env.CELESTE_INSTALL }}/${{ env.CHECKSUM_PATH }}

    - name: Checkout CelesteTAS
      uses: actions/checkout@v4
      with:
        path: ${{ env.CELESTETAS_REPO_NAME }}
    - name: Move CelesteTAS directory
      run: |
        mkdir -p ${{ env.CELESTE_INSTALL }}/Mods
        mv ${{ env.CELESTETAS_REPO_NAME }} ${{ env.CELESTE_INSTALL }}/Mods/${{ env.CELESTETAS_REPO_NAME }}
    - name: Build CelesteTAS
      working-directory: ${{ env.CELESTE_INSTALL }}/Mods/${{ env.CELESTETAS_REPO_NAME }}
      run: |
        # The StudioCom version is sometimes incremented with updates, however it shouldn't trigger a sync-check
        sed -i 's/ProtocolVersion = [0-9]\{1,\};/ProtocolVersion = 0;/' StudioCommunication/CommunicationAdapterBase.cs
        
        dotnet build CelesteTAS-EverestInterop -c ${{ inputs.build-cfg }} -p:UseSymlinks=false

    - name: Checkout TAS files
      uses: actions/checkout@v4
      with:
        repository: ${{ inputs.tas-repository }}
        ref: ${{ inputs.tas-revision }}
        path: ${{ env.TASFILES_REPO_NAME }}
    - name: Move TAS files directory
      run: |
        mv ${{ env.TASFILES_REPO_NAME }} ${{ env.CELESTE_INSTALL }}/${{ env.TASFILES_REPO_NAME }}

    - name: Download SyncChecker builds
      uses: actions/download-artifact@v4
      with:
        pattern: SyncChecker

    - name: Generate run configuration
      run: |
        echo '{' >> ${{ env.SYNC_CONFIG_PATH }}
        echo '    "gameDirectory": "${{ env.CELESTE_INSTALL }}",' >> ${{ env.SYNC_CONFIG_PATH }}
        echo '    "everestBranch": "manual",' >> ${{ env.SYNC_CONFIG_PATH }}
        echo "    \"mods\": [$(echo '${{ inputs.required-mods }}' | awk 'NF { print "\""$0"\""}' | paste -sd ",")]," >> ${{ env.SYNC_CONFIG_PATH }}
        echo "    \"files\": [$(echo '${{ inputs.tas-files }}' | awk 'NF { print "\"${{ env.CELESTE_INSTALL }}/${{ env.TASFILES_REPO_NAME }}/"$0"\""}' | paste -sd ",")]," >> ${{ env.SYNC_CONFIG_PATH }}
        echo "    \"lastChecksum\": \"$(cat ${{ env.CELESTE_INSTALL }}/${{ env.CHECKSUM_PATH }})\"" >> ${{ env.SYNC_CONFIG_PATH }}
        echo '}' >> ${{ env.SYNC_CONFIG_PATH }}

        cat ${{ env.SYNC_CONFIG_PATH }}

    - name: Execute sync check
      run: dotnet SyncChecker/SyncChecker.dll ${{ env.SYNC_CONFIG_PATH }} ${{ env.SYNC_RESULT_PATH }}

    - name: Prepare cache
      if: always()
      run: |
        rm -rf Mods
        mkdir Mods
        # Suppress error since there might be no .zip mods installed
        cp ${{ env.CELESTE_INSTALL }}/Mods/*.zip Mods 2>/dev/null || :
        cp ${{ env.CELESTE_INSTALL }}/Mods/Cache Mods 2>/dev/null || :
        
        echo "OLD_CHECKSUM=$(cat ${{ env.CELESTE_INSTALL }}/${{ env.CHECKSUM_PATH }})" >> $GITHUB_ENV
        echo "NEW_CHECKSUM=$(cat ${{ env.SYNC_RESULT_PATH }} | jq -r .checksum)" >> $GITHUB_ENV
        
        cat ${{ env.SYNC_RESULT_PATH }} | jq -r .checksum > ${{ env.CHECKSUM_PATH }}

    - name: Delete previous mods cache
      if: ${{ always() && steps.restore-cache.outputs.cache-hit == 'true' && env.OLD_CHECKSUM != env.NEW_CHECKSUM && github.ref == 'refs/heads/master' }}
      continue-on-error: true
      run: |
        curl -L \
          -X DELETE \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ github.token }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          "https://api.github.com/repos/${{ github.repository }}/actions/caches?key=SyncCheck-${{ inputs.id }}"

    - name: Save mods cache
      if: ${{ always() && env.OLD_CHECKSUM != env.NEW_CHECKSUM && github.ref == 'refs/heads/master' }}
      uses: actions/cache/save@v4
      with:
        path: |
          Mods/**
          ${{ env.CHECKSUM_PATH }}
        key: SyncCheck-${{ inputs.id }}
